*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: transparent;
}

.about-gosaikunda, .about_bathrog{
    text-align: left;
    width: 100%;
    height: auto;
    margin: 0 10px;
    padding: 15px 15px;
    
    
    position: relative;

}

.about-gosaikunda, .about_bathrog  p{
    color: blueviolet;
    font-size: 14px;
    
   
}

h1{
    color: crimson;
    text-align: center;
    margin: 5px 0;
}

span{
    font-size: 16px;
    color: crimson;
    font-weight: 700;
}

 .bathrog, .drdeepa,  .drdipendra {

    width: 250px;
    padding: 10px 10px;

}


.bathroo-deepa{
    width: 150px;
    padding: 5px 5px;
    float: left;
}


.bathrog{
    float: right ;
}


.drdeepa{
float: right;

}
.drdipendra
{
    float: left;
}